{% extends "public/base.html.twig" %}

{% block title %}{{ recipe.title }} | Les recettes d'Iris{% endblock %}

{% block body %}

    <main>

        <article>
            <p>{{ recipe.title }}</p>
            <p><em>Recette publiée sur le site</em></p>

            <img  src="{{ asset('assets/uploads/' ~ recipe.image) }}" />

            <p>{{ recipe.instructions }}</p>


            <p><a href="{{ path('show_category', {id:recipe.category.id}) }}">Catégorie : {{ recipe.category.title }}</a></p>
        </article>

    </main>

{% endblock %}