
{% extends 'admin/base.html.twig' %}


{% block body %}


    <table style="border: solid 2px black; border-collapse: collapse; width: 100%">
        <tr style="background-color: #f2f2f2">
            <th style="border: 1px solid black; padding: 8px;">Id</th>
            <th style="border: 1px solid black; padding: 8px;">Nom</th>
            <th style="border: 1px solid black; padding: 8px;">Ingrédients</th>
            <th style="border: 1px solid black; padding: 8px;">Date de création</th>
            <th>Image</th>

        </tr>

    {% for recipe in recipes %}
        <tr>
            <td style="border: 1px solid black; padding: 8px;">{{ recipe.id }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ recipe.title }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ recipe.ingredients }}</td>
            <td style="border: 1px solid black; padding: 8px;">{{ recipe.createdAt.format('d/m/Y H:i:s') }}</td>
            <td> <img src="{{ asset ('assets/images/' ~ recipe.image) }}"></td>

        </tr>
    {% endfor %}

    </table>



{% endblock body %}