<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
</head>
<body>
<header>
    <h1>Bienvenue sur l'admin</h1>

    <h2><a style="color: deeppink; text-decoration: none" href="{{ path('admin_update_user', {id: app.user.id}) }}"> L'utilisateur connecté est {{ app.user.email  }}</a></h2>

    <nav>
        <ul>
            <li><a href="{{ path('admin_create_recipe') }}">Créer une recette</a></li>
            <li><a href="{{ path('admin_list_recipes') }}">Gérer des recettes</a></li>
            <li><a href="{{ path('admin_create_user') }}">Créer des utilisateurs</a></li>
            <li><a href="{{ path('admin_list_users') }}">Gérer des utilisateurs</a></li>
            <li><a href="{{ path('admin_create_category') }}">Créer une catégorie</a></li>
            <li><a href="{{ path('admin_list_categories') }}">Gérer des catégories</a></li>
            <li><a href="{{ path('logout') }}">Se déconnecter</a></li>

        </ul>


    </nav>
</header>
{% for message in app.flashes('success') %}
    <section>
        <p style="background-color: green; color: white">{{ message }}</p>
    </section>
{% endfor %}

{% for message in app.flashes('error') %}
    <section>
        <p style="background-color: red; color: white">{{ message }}</p>
    </section>
{% endfor %}
{% block body %}{% endblock %}
</body>
</html>